interactions:
- request:
    body: '{"text": "Hello world from our WIP Farcaster Python SDK!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.farcaster.xyz/v2/casts
  response:
    body:
      string: '{"result":{"cast":{"hash":"0x378d1725c02bc683dbad6747b165220e1a23c54e808794870d5040673932e072","threadHash":"0x378d1725c02bc683dbad6747b165220e1a23c54e808794870d5040673932e072","author":{"fid":8302,"username":"apitest","displayName":"API
        Test","pfp":{"url":"https://i.imgur.com/zketOEu.png","verified":false},"profile":{"bio":{"text":"I''m
        a fren","mentions":[]}},"followerCount":2,"followingCount":0},"text":"Hello
        world from our WIP Farcaster Python SDK!","timestamp":1674600213328,"replies":{"count":0},"reactions":{"count":0},"recasts":{"count":0,"recasters":[]},"watches":{"count":0},"viewerContext":{"reacted":false,"recast":false,"watched":false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"1v6b5em"
      origin-agent-cluster:
      - ?1
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '55'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"text": "Hello world from our WIP Farcaster Python SDK!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.farcaster.xyz/v2/casts
  response:
    body:
      string: '{"errors":[{"message":"Expired authentication token"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"6tf3tf"
      origin-agent-cluster:
      - ?1
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"text": "Hello world from our WIP Farcaster Python SDK!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.farcaster.xyz/v2/casts
  response:
    body:
      string: '{"result":{"cast":{"hash":"0xa18566b248902991f4de4f2913e480ae49c1e135f171b17ae547ff5a09fb9a0a","threadHash":"0xa18566b248902991f4de4f2913e480ae49c1e135f171b17ae547ff5a09fb9a0a","author":{"fid":8302,"username":"apitest","displayName":"API
        Test","pfp":{"url":"https://i.imgur.com/zketOEu.png","verified":false},"profile":{"bio":{"text":"I''m
        a fren","mentions":[]}},"followerCount":5,"followingCount":0},"text":"Hello
        world from our WIP Farcaster Python SDK!","timestamp":1674605671821,"replies":{"count":0},"reactions":{"count":0},"recasts":{"count":0,"recasters":[]},"watches":{"count":0},"viewerContext":{"reacted":false,"recast":false,"watched":false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"pxfsa6"
      origin-agent-cluster:
      - ?1
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '997'
      x-ratelimit-reset:
      - '57'
    status:
      code: 201
      message: Created
version: 1
