interactions:
- request:
    body: '{"text": "Hello world from our WIP Farcaster Python SDK!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.warpcast.com/v2/casts
  response:
    body:
      string: '{"result":{"cast":{"hash":"0x74031a19e3c2a5acd34c8f54dd9e7b2b3e0f87a7","threadHash":"0x74031a19e3c2a5acd34c8f54dd9e7b2b3e0f87a7","author":{"fid":8302,"username":"apitest","displayName":"apitest","pfp":{"url":"https://warpcast.com/avatar.png","verified":false},"profile":{"bio":{"text":"","mentions":[]},"location":{"placeId":"","description":""}},"followerCount":42,"followingCount":0,"activeOnFcNetwork":false},"text":"Hello
        world from our WIP Farcaster Python SDK!","timestamp":1684882987000,"replies":{"count":0},"reactions":{"count":0},"recasts":{"count":0,"recasters":[]},"watches":{"count":0},"viewerContext":{"reacted":false,"recast":false,"watched":false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1mebx5n"
      Origin-Agent-Cluster:
      - ?1
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2496'
      X-Ratelimit-Reset:
      - '1'
    status:
      code: 201
      message: Created
version: 1
