interactions:
- request:
    body: '{"text": "Hello world from our WIP Farcaster Python SDK!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.warpcast.com/v2/casts
  response:
    body:
      string: '{"result":{"cast":{"hash":"0xb0dafd3d0470f1a3d60998fec8fb8cc496ec787daa2dc7caebb2c6abc42ed09c","threadHash":"0xb0dafd3d0470f1a3d60998fec8fb8cc496ec787daa2dc7caebb2c6abc42ed09c","author":{"fid":8302,"username":"apitest","displayName":"API
        Test","pfp":{"url":"https://i.imgur.com/zketOEu.png","verified":false},"profile":{"bio":{"text":"I''m
        a fren","mentions":[]}},"followerCount":32,"followingCount":0},"text":"Hello
        world from our WIP Farcaster Python SDK!","timestamp":1676575992332,"replies":{"count":0},"reactions":{"count":0},"recasts":{"count":0,"recasters":[]},"watches":{"count":0},"viewerContext":{"reacted":false,"recast":false,"watched":false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"p8s1fd"
      origin-agent-cluster:
      - ?1
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '987'
      x-ratelimit-reset:
      - '50'
    status:
      code: 201
      message: Created
version: 1
