interactions:
- request:
    body: '{"text": "Hello world from our WIP Farcaster Python SDK!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.farcaster.xyz/v2/casts
  response:
    body:
      string: '{"result":{"cast":{"hash":"0xf1bcc34739a7eac76dbf715bba0f225c39916c5af9bb8658abde79f721ed44e3","threadHash":"0xf1bcc34739a7eac76dbf715bba0f225c39916c5af9bb8658abde79f721ed44e3","author":{"fid":8302,"username":"apitest","displayName":"API
        Test","pfp":{"url":"https://i.imgur.com/zketOEu.png","verified":false},"profile":{"bio":{"text":"I''m
        a fren","mentions":[]}},"followerCount":5,"followingCount":0},"text":"Hello
        world from our WIP Farcaster Python SDK!","timestamp":1674613871068,"replies":{"count":0},"reactions":{"count":0},"recasts":{"count":0,"recasters":[]},"watches":{"count":0},"viewerContext":{"reacted":false,"recast":false,"watched":false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"axw28s"
      origin-agent-cluster:
      - ?1
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '995'
      x-ratelimit-reset:
      - '54'
    status:
      code: 201
      message: Created
- request:
    body: '{"text": "Hello world from our WIP Farcaster Python SDK!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.warpcast.com/v2/casts
  response:
    body:
      string: '{"errors":[{"message":"Expired authentication token"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"6tf3tf"
      origin-agent-cluster:
      - ?1
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: '{"text": "Hello world from our WIP Farcaster Python SDK!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.warpcast.com/v2/casts
  response:
    body:
      string: '{"result":{"cast":{"hash":"0x49d249ecf822f31fe96f009b36c18b8e289639b0e10b2fa0f79a8ea2a9bf5a9f","threadHash":"0x49d249ecf822f31fe96f009b36c18b8e289639b0e10b2fa0f79a8ea2a9bf5a9f","author":{"fid":8302,"username":"apitest","displayName":"API
        Test","pfp":{"url":"https://i.imgur.com/zketOEu.png","verified":false},"profile":{"bio":{"text":"I''m
        a fren","mentions":[]}},"followerCount":32,"followingCount":0},"text":"Hello
        world from our WIP Farcaster Python SDK!","timestamp":1676575640250,"replies":{"count":0},"reactions":{"count":0},"recasts":{"count":0,"recasters":[]},"watches":{"count":0},"viewerContext":{"reacted":false,"recast":false,"watched":false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"pfhk6u"
      origin-agent-cluster:
      - ?1
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '60'
    status:
      code: 201
      message: Created
version: 1
