interactions:
- request:
    body: '{"text": "Hello world from our WIP Farcaster Python SDK!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.warpcast.com/v2/casts
  response:
    body:
      string: '{"result":{"cast":{"hash":"0xab1e87dc4a4c50adfafe6bab1d0f37a4227cc9add46c0c9ce5d605323da38ffa","_hashV2":"0x1f3d21a2b5ed2acf2c213d792c400813809ea9b5","threadHash":"0xab1e87dc4a4c50adfafe6bab1d0f37a4227cc9add46c0c9ce5d605323da38ffa","_threadHashV2":"0x1f3d21a2b5ed2acf2c213d792c400813809ea9b5","author":{"fid":8302,"username":"apitest","displayName":"API
        Test","pfp":{"url":"https://i.imgur.com/zketOEu.png","verified":false},"profile":{"bio":{"text":"I''m
        a fren","mentions":[]},"location":{"placeId":"","description":""}},"followerCount":33,"followingCount":0},"text":"Hello
        world from our WIP Farcaster Python SDK!","timestamp":1677690443933,"replies":{"count":0},"reactions":{"count":0},"recasts":{"count":0,"recasters":[]},"watches":{"count":0},"viewerContext":{"reacted":false,"recast":false,"watched":false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"1azawf0"
      origin-agent-cluster:
      - ?1
      x-ratelimit-limit:
      - '500'
      x-ratelimit-remaining:
      - '493'
      x-ratelimit-reset:
      - '3'
    status:
      code: 201
      message: Created
version: 1
