interactions:
- request:
    body: '{"text": "Hello world from our WIP Farcaster Python SDK!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.warpcast.com/v2/casts
  response:
    body:
      string: '{"result":{"cast":{"hash":"0xca901cc238bc52c561b0f747d2592298c93afbd5","_hashV1":"0xd520f2536b1bc17b87af7802bf686cc01fefa51bee96ffd9086eca6804a73115","_hashV2":"0xca901cc238bc52c561b0f747d2592298c93afbd5","threadHash":"0xca901cc238bc52c561b0f747d2592298c93afbd5","_threadHashV1":"0xd520f2536b1bc17b87af7802bf686cc01fefa51bee96ffd9086eca6804a73115","_threadHashV2":"0xca901cc238bc52c561b0f747d2592298c93afbd5","author":{"fid":8302,"username":"apitest","displayName":"API
        Test","pfp":{"url":"https://i.imgur.com/zketOEu.png","verified":false},"profile":{"bio":{"text":"I''m
        a fren","mentions":[]},"location":{"placeId":"","description":""}},"followerCount":39,"followingCount":1},"text":"Hello
        world from our WIP Farcaster Python SDK!","timestamp":1680539369000,"replies":{"count":0},"reactions":{"count":0},"recasts":{"count":0,"recasters":[]},"watches":{"count":0},"viewerContext":{"reacted":false,"recast":false,"watched":false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ddbnd3"
      Origin-Agent-Cluster:
      - ?1
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2493'
      X-Ratelimit-Reset:
      - '5'
    status:
      code: 201
      message: Created
version: 1
