annotated-types==0.7.0 ; python_version >= "3.8" and python_version < "4"
bitarray==2.9.2 ; python_version >= "3.8" and python_version < "4"
canonicaljson==2.0.0 ; python_full_version >= "3.8.0" and python_full_version < "4.0.0"
certifi==2024.7.4 ; python_version >= "3.8" and python_full_version < "4.0.0"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_full_version < "4.0.0"
ckzg==1.0.2 ; python_version >= "3.8" and python_version < "4"
cytoolz==0.12.3 ; python_version >= "3.8" and python_version < "4" and implementation_name == "cpython"
eth-abi==5.0.1 ; python_version >= "3.8" and python_version < "4"
eth-account==0.13.1 ; python_version >= "3.8" and python_version < "4"
eth-hash==0.7.0 ; python_version >= "3.8" and python_version < "4"
eth-keyfile==0.8.1 ; python_version >= "3.8" and python_version < "4"
eth-keys==0.5.1 ; python_version >= "3.8" and python_version < "4"
eth-rlp==2.1.0 ; python_version >= "3.8" and python_version < "4"
eth-typing==5.0.0 ; python_version >= "3.8" and python_version < "4"
eth-utils==5.0.0 ; python_version >= "3.8" and python_version < "4"
hexbytes==1.2.1 ; python_version >= "3.8" and python_version < "4"
idna==3.7 ; python_version >= "3.8" and python_full_version < "4.0.0"
parsimonious==0.9.0 ; python_version >= "3.8" and python_version < "4"
pycryptodome==3.20.0 ; python_version >= "3.8" and python_version < "4"
pydantic-core==2.20.1 ; python_version >= "3.8" and python_version < "4"
pydantic==2.8.2 ; python_version >= "3.8" and python_version < "4"
pyhumps==3.8.0 ; python_full_version >= "3.8.0" and python_full_version < "4.0.0"
python-dotenv==1.0.1 ; python_version >= "3.8" and python_full_version < "4.0.0"
regex==2024.7.24 ; python_version >= "3.8" and python_version < "4"
requests==2.32.3 ; python_version >= "3.8" and python_full_version < "4.0.0"
rlp==4.0.1 ; python_version >= "3.8" and python_version < "4"
toolz==0.12.1 ; python_version >= "3.8" and python_version < "4" and (implementation_name == "pypy" or implementation_name == "cpython")
typing-extensions==4.12.2 ; python_version >= "3.8" and python_version < "4"
urllib3==1.26.19 ; python_version >= "3.8" and python_full_version < "4.0.0"
