annotated-types==0.7.0 ; python_version >= "3.8" and python_full_version < "4.0.0"
bitarray==2.9.2 ; python_full_version >= "3.8.0" and python_version < "4"
canonicaljson==2.0.0 ; python_full_version >= "3.8.0" and python_full_version < "4.0.0"
certifi==2024.8.30 ; python_version >= "3.8" and python_full_version < "4.0.0"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_full_version < "4.0.0"
cytoolz==0.12.3 ; python_version >= "3.8" and python_version < "4" and implementation_name == "cpython"
eth-abi==5.0.1 ; python_version >= "3.8" and python_version < "4"
eth-account==0.10.0 ; python_full_version >= "3.8.0" and python_version < "4"
eth-hash==0.7.0 ; python_version >= "3.8" and python_version < "4"
eth-keyfile==0.8.1 ; python_version >= "3.8" and python_version < "4"
eth-keys==0.5.1 ; python_version >= "3.8" and python_version < "4"
eth-rlp==1.0.1 ; python_version >= "3.8" and python_version < "4"
eth-typing==5.0.0 ; python_version >= "3.8" and python_version < "4"
eth-utils==4.1.1 ; python_version >= "3.8" and python_version < "4"
hexbytes==0.3.1 ; python_version >= "3.8" and python_version < "4"
idna==3.8 ; python_version >= "3.8" and python_full_version < "4.0.0"
parsimonious==0.9.0 ; python_version >= "3.8" and python_version < "4"
pycryptodome==3.20.0 ; python_version >= "3.8" and python_version < "4"
pydantic-core==2.23.2 ; python_version >= "3.8" and python_full_version < "4.0.0"
pydantic==2.9.0 ; python_version >= "3.8" and python_full_version < "4.0.0"
pyhumps==3.8.0 ; python_full_version >= "3.8.0" and python_full_version < "4.0.0"
python-dotenv==1.0.1 ; python_version >= "3.8" and python_full_version < "4.0.0"
regex==2024.7.24 ; python_version >= "3.8" and python_version < "4"
requests==2.32.3 ; python_version >= "3.8" and python_full_version < "4.0.0"
rlp==4.0.1 ; python_version >= "3.8" and python_version < "4"
toolz==0.12.1 ; python_version >= "3.8" and python_version < "4" and (implementation_name == "pypy" or implementation_name == "cpython")
typing-extensions==4.12.2 ; python_version >= "3.8" and python_version < "4"
tzdata==2024.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
urllib3==1.26.20 ; python_version >= "3.8" and python_full_version < "4.0.0"
