interactions:
- request:
    body: '{"method": "generateToken", "params": {"timestamp": 1674680167000, "expiresAt":
      1674680767000}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.farcaster.xyz/v2/auth
  response:
    body:
      string: '{"errors":[{"message":"Must provide Authorization header with Bearer
        token"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"z452bv"
      origin-agent-cluster:
      - ?1
      x-ratelimit-limit:
      - '100'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '60'
    status:
      code: 400
      message: Bad Request
version: 1
